th {
    vertical-align: middle;
}
button {
    margin-top: 20px;
    margin-bottom: 10px;
}
a.current {
    color: #000;
}
.flag_img {
    width: 50px;
    position: relative;
}
.flag_img img {
    width: 50px;
}
.flag_blank {
    width: 50px;
    display: block;
    height: 40px;
    background-color: #fff;
}
.fa {
    margin-left: 10px;
}
.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(226,226,226,0);
    /* Old Browsers */background: -moz-linear-gradient(-45deg, rgba(226,226,226,0) 35%, rgba(0,0,0,0.3) 50%, rgba(254,254,254,0) 65%, rgba(0,0,0,0.3) 80%, rgba(255,255,255,0) 95%);
    /* FF3.6+ */background: -webkit-gradient(left top, right bottom, color-stop(35%, rgba(226,226,226,0)), color-stop(50%, rgba(0,0,0,0.3)), color-stop(65%, rgba(254,254,254,0)), color-stop(80%, rgba(0,0,0,0.3)), color-stop(95%, rgba(255,255,255,0)));
    /* Chrome,Safari4+  */background: -webkit-linear-gradient(-45deg, rgba(226,226,226,0) 35%, rgba(0,0,0,0.3) 50%, rgba(254,254,254,0) 65%, rgba(0,0,0,0.3) 80%, rgba(255,255,255,0) 95%);
    /* Chrome10+,Safari5.1+ */background: -o-linear-gradient(-45deg, rgba(226,226,226,0) 35%, rgba(0,0,0,0.3) 50%, rgba(254,254,254,0) 65%, rgba(0,0,0,0.3) 80%, rgba(255,255,255,0) 95%);
    /* Opera 11.10+ */background: -ms-linear-gradient(-45deg, rgba(226,226,226,0) 35%, rgba(0,0,0,0.3) 50%, rgba(254,254,254,0) 65%, rgba(0,0,0,0.3) 80%, rgba(255,255,255,0) 95%);
    /* IE 10+ */background: linear-gradient(135deg, rgba(226,226,226,0) 35%, rgba(0,0,0,0.3) 50%, rgba(254,254,254,0) 65%, rgba(0,0,0,0.3) 80%, rgba(255,255,255,0) 95%);
    /* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#ffffff', GradientType=1 );
}